/* 
    Project Styles
    Author: Owen Bossola
*/
body {
	background-color: #f7f7f7;
}
a.home {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 32px;
	height: 32px;
	background-image: url(/img/home.png);
	text-indent: -99999px;
	opacity: 0.3;
}
a.home:hover {
	opacity: 0.7;	
}
a.home:active {
	opacity: 0.3;	
}