/* base styles */
body { font-family: 'Pontano Sans', serif; background-color: #fff; color: #252525; }
a, a:active, a:hover, a:visited { color: #252525; text-decoration: none; font-weight: bold;}

header {
  width: 600px;
  margin: 50px auto 50px auto;
  position: relative;
  height: 135px;
}
header h1 {
  font-size: 34px;
  margin: 0;
}
header .subtitle {
  margin-top: 6px;
  color: #333;
}
header .about {
  position: absolute;
  left: 145px;
}
header .about p {
  margin-top: 7px;
  margin-bottom: 7px;
}
header .profile {
  display: block;
  position: absolute;
  left: 0;
  width: 125px;
  border-radius: 3px;
}
section.posts {
  width: 600px;
  margin: auto auto;
  position: relative;
}
.posts article {
  margin-bottom: 40px;
}
.posts article h2 {
  margin-bottom: 3px;
}
.posts article span.byline {
  color: #888;
  font-size: 0.9em;
}
.posts article blockquote {
  font-style: italic;
}
footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-size: 0.8em;
  color: #222;
  width: 600px;
  margin: 0 auto 30px auto;
}

/* Info Box */
.info {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background: #222;
  width: 25px;
  height: 25px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  z-index: 2;
}
.info:hover {
  color: #fff;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
     -moz-box-shadow: 3px 3px 5px 6px #ccc;
          box-shadow: 2px 2px 3px 2px #ccc;
}
#info {
  position: fixed;
  bottom: -200px;
  right: 10px;
  background: #ddd;
  width: 160px;
  height: 190px;
  color: #252525;
  padding: 0 10px;
}

/* Animations */
@-webkit-keyframes slidein {
  from { bottom: -200px; }
  to { bottom: 0; }
}

@-moz-keyframes slidein {
  from { bottom: -200px; }
  to { bottom: 0; }
}

@-ms-keyframes slidein {
  from { bottom: -200px; }
  to { bottom: 0; }
}

@keyframes slidein {
  from { bottom: -200px; }
  to { bottom: 0; }
}

.slidein {
  bottom: 0;

  -webkit-animation-name: slidein; 
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes slideout {
  from { bottom: 0px; }
  to { bottom: -200px; }
}

@-moz-keyframes slideout {
  from { bottom: 0px; }
  to { bottom: -200px; }
}

@-ms-keyframes slideout {
  from { bottom: 0px; }
  to { bottom: -200px; }
}
@keyframes slideout {
  from { bottom: 0px; }
  to { bottom: -200px; }
}

.slideout {
  bottom: -200px;

  -webkit-animation-name: slideout; 
  -webkit-animation-duration: 0.1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
}

@media screen and (max-device-width: 480px) {
  body {
    -webkit-text-size-adjust:none;
  }
  .info, #info {
    display:none;
  }
  header,
  footer,
  section.posts {
    width: 87.5%;
  }
  header {
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
  }
  header .profile {
    position: relative;
    margin: auto auto;
  }
  header .about {
    font-size: 1.4em;
    position: relative;
    margin: auto auto;
    left:0;
    text-align: center;
  }
  section.posts {
    margin-top: 20%;
  }
  article {
    line-height: 1.4em;
  }
  article h2 {
    font-size: 1.6em;
    line-height: 1.3em;
  }
  article p {
    font-size: 1.3em;
    line-height: 1.5em;
  }
}
@media screen and (max-device-width: 1024px) {
  body {
    -webkit-text-size-adjust:none;
  }
  .info, #info {
    display:none;
  }
  header,
  footer,
  section.posts {
    width: 87.5%;
  }
}