<header>

    <img src="img/owenbossola_profile_b_w.jpg" class="profile" alt="Owen Bossola">

    <div class="about">
        <h1><a href="/">Hi, I'm Owen</a></h1>
        <p class="subtitle">
            I make products for the web and touch devices.  I live in Brooklyn, NYC, and work as the Director of Engineering at <a href="http://qwiki.com">Qwiki</a>.
        </p>
        <p>
            Say hello by <a href="mailto:&#111;&#119;&#101;&#110;&#046;&#098;&#111;&#115;&#115;&#111;&#108;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email</a>, follow me on <a href="http://twitter.com/owenbossola">twitter</a>, or find me on <a href="http://www.linkedin.com/in/owenbossola">linked in</a>.
        </p>
    </div>

</header>