<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Owen Bossola, engineering director and product manager based in New York City</title>

  <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  
  <script src="/js/script.js"></script>
  
  <meta name="viewport" content="initial-scale=0.9, maximum-scale=0.9" />
</head>

<body>


    <header>
        <h1>Hi, I'm Owen</h1>
        <p class="subtitle">
          I make products for the web and touch devices.  I live in Brooklyn, NYC, and work as the Director of Engineering at <a href="http://qwiki.com">Qwiki</a>.
        </p>
        <p>
          Say hello by <a href="mailto:&#111;&#119;&#101;&#110;&#046;&#098;&#111;&#115;&#115;&#111;&#108;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email</a>, follow me on <a href="http://twitter.com/owenbossola">twitter</a>, or find me on <a href="http://www.linkedin.com/in/owenbossola">linked in</a>.
        </p>
    </header>

    <section class="posts">
      {{ content }}
    </section>

    <footer>
      &copy; Copyright 2012, Owen Bossola
    </footer>


    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35749664-1']);
      _gaq.push(['_setDomainName', 'owenbossola.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</body>
</html>