<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Owen Bossola, engineering and product director based in New York City</title>

  <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  
  <script src="/js/script.js"></script>
  
  <meta name="viewport" content="initial-scale=0.9, maximum-scale=0.9" />
</head>

<body>

  {{ content }}

  <footer>
    &copy; Copyright 2012, Owen Bossola
  </footer>

  {% include tracking.html %}

</body>
</html>