<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Owen Bossola, engineering and product director based in New York City</title>

  <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  
  <!-- <meta name="viewport" content="initial-scale=0.9, maximum-scale=0.9" /> -->
</head>

<body>

  {{ content }}

  <a class="info">i</a>
  <div id="info">
    <p>Hi, and welcome to my new home.  I've just moved in so I have more unpacking to do.</p>
    <p>Stay tuned...</p>
  </div>

  {% include footer.html %}

  {% include tracking.html %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="/js/script.js"></script>

</body>
</html>